body{
  background:#020617;
  color:white;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.box{
  background:#111827;
  padding:20px;
  border-radius:12px;
  width:260px;
  text-align:center;
}
input{
  width:100%;
  padding:8px;
  margin-bottom:8px;
}
button{
  padding:8px;
  width:100%;
}
